.video-card{
    background-color: black;
    box-shadow: 0 0 10px 5px #48abe0;
    color: white;
    border-radius: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: small;
    display: flex;
    flex-flow: column;
    margin: 20px;
}
.img-card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    cursor: pointer;
}

.icon-card{
    width: 25px;
    height: 25px;
    margin: auto;
    margin-right: 10px;
    display: block;
}

.card-text{
    display: flex;
    justify-content: space-evenly;    
}

.inner-text{
    display: flex;
    cursor: pointer;
}
