:root{
    --dark-grey: #1D1D1D;
    --medium-gray: #3F3F3F;
}

h1{
    margin-top: 0;
    font-size: x-large;
}

h2{
    font-size: large;
}

h3{
    font-size: medium;
    font-weight: lighter;
}

h4{
    font-size: small;
    font-weight: lighter;
}

.nv_overlay {
    background-color: rgba(0, 0, 0, 95%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nv_title{
    display: flex;
    justify-content: space-between;
    place-items: top ;
    padding-left: 1rem;
    padding-right: 1rem;

}

.nv_closeoverlay{
    width: 100%;
    cursor: pointer;
}

 .nv_container {
    background-color: var(--dark-blue);
    color:white;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    position: fixed;
    padding: 20px;
    
    left: 25%;
    top: 5%;
    width: 50%;
    height: 85%;
    overflow: auto;
}

.nv_form{
    display: flex;
    flex-flow: column;

    

}

.nv_input {
    font-family: Roboto;
    color:white;
    font-size: small;
    padding: 7px;
    border-radius: 3px;
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px;
    background-color: var(--dark-blue);
    margin-bottom: 10px;
}

.nv_buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
    
}

.nv_button{
    border-color: var(--blue);
    background-color: var(--dark-blue);
    color: white;
    font-family: Roboto;
    font-size: small;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 1rem;
    padding: 5px;
    margin-top: 2rem;

}

.nv_footer{
    background-color: var(--dark-grey);
    padding: 10px;
    display: flex;
    justify-content: space-around;   
}

@media (max-width: 480px){

    .nv_buttons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .nv-button{
        margin: 0;
        padding: 0;

    
    }
}