:root{
    --dark-grey: #1D1D1D;
    --medium-gray: #3F3F3F;
}


.videos-cat{
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
}

.cat-title{
    font-size: x-large;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    width: 22%;
    min-width: 200px;
    border-radius: 25px;
    margin: 20px;
    margin-bottom: 0%;
}

.video-list{
    background-color: var(--dark-grey);
    display: flex;
    margin-bottom: 30px;
}