:root{
    --dark-grey: #1D1D1D;
    --medium-gray: #3F3F3F;
}

section{
    background-color:var(--dark-grey);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttons
{
    display: flex;
    justify-content: space-around;
    width: 15%;
    padding: 10px;
    gap: 10px;
}

button{
    font-family: Roboto;
    font-size: large;
    color: white;
    width: 150px;
    background-color: var(--dark-grey);
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #48abe0;
}

button:hover{
    background-color: var(--medium-gray);
}