.overlay {
    background-color: rgba(0, 0, 0, 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

iframe{
    position: fixed;
    top: 5%;
    bottom: 0;
    left: 5%;
    right: 0;
}

.close-overlay{
    position: fixed;
    display: flex;
    width: auto;
    top: 2%;
    right: 2%;
    cursor: pointer;
}
