:root{
    --dark-grey: #1D1D1D;
    --medium-gray: #3F3F3F;
}

.cat_list{
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    border-radius: 20px;
}