:root {
    --dark-grey: #1D1D1D;
    --medium-gray: #3F3F3F;
    --color-categoria: #6BD1FF;
}
  
.banner {
    position: relative;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    margin: 0;
}

.banner_background {
    width: 100%;
    opacity: 50%;
}

.banner_img {
    width: 40vh;
    cursor: pointer;
}

.banner_content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner_title {
    background-color: var(--color-categoria);
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.banner_subtitle {
    color: white;
    font-size: x-large;
    border-radius: 10px;
    margin-bottom: 20px;
}

.banner_text {
    width: 100%;
    height: 20%;
    margin-right: 60px;
    overflow: hidden;
    color: white;
    font-size: small;
    border-radius: 10px;
}


@media (max-width: 480px){

    .banner{
        display: none;
    }
}


